.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox label {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: white;
  color: #9f9e9e;
}

.custom-checkbox input[type="checkbox"]:checked + label {
  background-color: #ffffff;
  color: #00acc1;
}

.custom-checkbox label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + label::before {
  background-color: #00acc1;
  border-color: #00acc1;
}
